
		.container{
			width:450px;
			margin:50px auto;
			border:2px solid #EEE;			
			border-radius: 10px;
			font-family: font-family:Helvetica,Arial,'宋体',sans-serif;
			font-weight: bold;

		}
		.container h2{
			width:100%;
			height: 30px;
			background: red;
			margin:0;
			padding:10px 0;
			border-radius: 10px 10px 0 0;
			text-align: center;
		}
		.container ul{
			width: 100%;
			margin:0;
			padding:0;
			list-style: none;
		}
		.container .box li{
			border-top:2px solid #eee;
			background: #D6D6D6;
			cursor: pointer;

		}
		.container .box li,.container .box a{
			line-height: 50px;
			padding:3px 0;
			text-indent: 2em;

		}
		.container .box a:hover{
			background: #EEE;
		}
		.container .box a{
			text-indent: 4em;
			text-decoration: none;
			color:#000;
			display: block;
		}
		.no{display:none;}
		.bl{display: block;background:#FFF;}